<app-bar
  [sourceURL]="sourceURL"
></app-bar>
<div class="album-detail-page">
  <div *ngIf="album" class="container">
    <div style="display: flex;" class="col-xs-10">
      <div style="width: 100%">
        <div class="album-container">
          <div>
            <img src="{{album.coverImageURL}}" width="150" height="150"
                 onerror="this.src='https://s.discogs.com/images/default-release.png'">
          </div>
          <div style="padding: 5px">
            <div>{{album.title}}</div>
            <div *ngIf="album?.artists.length > 0">
              Artist{{album.artists > 1 ? 's' : ''}}:
              <a
                *ngFor="let artist of album.artists"
                routerLink="/artist/{{artist.slug}}"
              >
                {{artist.name}}
              </a>
            </div>
            <div *ngIf="album.country">
              Country: {{album.country}}
            </div>
            <div *ngIf="album?.language?.name">
              Language: <a routerLink="/" [queryParams]="{lang: album.language.code}">{{album.language.name}}</a>
            </div>
            <div *ngIf="album.releasedDate">
              Date: {{album.releasedDate | date }}
            </div>
            <div>
              <ngb-rating [(rate)]="album.rating" max="5" [readonly]="true" style="outline: none">
                <ng-template let-fill="fill">
                  <span class="star" [class.filled]="fill === 100">&#9733;</span>
                </ng-template>
              </ngb-rating>
              <span
                style="margin: 0 10px"
                *ngIf="isAuthenticated | async"
              >
                <div class="btn btn-primary" data-toggle="modal" data-target="#voteModal">
                  Vote
                </div>
              </span>
            </div>
          </div>
        </div>
        <div
          *ngIf="album"
          style="padding-top: 10px"
        >
          <div style="display: flex">
            <div style="padding: 5px">
              Tracks:
            </div>
            <div
              style="margin: 5px"
              (click)="toggleReorderMode()"
              *ngIf="isAuthenticated | async"
            >
              <i class="fa fa-exchange fa-rotate-90" aria-hidden="true" style="font-size: 20px;"></i>
            </div>
            <div
              *ngIf="reorderedTracks"
              class="btn btn-primary"
              style="margin: 0 5px"
              (click)="saveTracks()"
            >
              Save
            </div>
          </div>
          <table
            style="margin: 10px 0;border-collapse: separate;border-spacing: 0 10px;"
          >
            <tr
              *ngFor="let track of (reorderedTracks || album.trackList); let i = index"
              style="padding: 20px 0;"
            >
              <td
                style="padding: 0px 10px"
                (click)="setEditTrackId(track.id)"
                *ngIf="isAuthenticated | async"
              >
                <div
                  *ngIf="editedTrackId === track.id; then saveTrackIcon else editTrackIcon"
                >
                </div>

                <ng-template #editTrackIcon>
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </ng-template>
                <ng-template #saveTrackIcon>
                  <i class="fa fa-floppy-o" aria-hidden="true"></i>
                </ng-template>
              </td>
              <td>
                <div>
                  <div
                    *ngIf="editedTrackId === track.id; then editedTrackName else staticTrackName"
                  >
                  </div>
                  <ng-template #staticTrackName>
                    {{track.name}}
                  </ng-template>
                  <ng-template #editedTrackName>
                    <input [(ngModel)]="nameEditedTrack">
                  </ng-template>
                  <div>Duration: {{track.duration | date:'mm:ss' }}</div>
                </div>
              </td>
              <td
                *ngIf="reorderedTracks"
              >
                <div
                  *ngIf="!isFirstTrack(i)"
                  (click)="moveTrackUp(i)"
                >
                  <i class="fa fa-arrow-up" aria-hidden="true"></i>
                </div>
                <div
                  *ngIf="!isLastTrack(i)"
                  (click)="moveTrackDown(i)"
                >
                  <i class="fa fa-arrow-down" aria-hidden="true"></i>
                </div>
              </td>
              <td
                style="padding: 0 5px"
                *ngIf="isAuthenticated | async"
              >
                <div
                  (click)="removeTrack(track.id)"
                >
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <div
          *ngIf="newTrack"
          style="padding: 5px;"
        >
          <div
            style="padding: 5px 0;"
          >
            <input
              [(ngModel)]="newTrack.name"
              placeholder="New Track Name"
            >
          </div>
          <div
            style="padding: 5px 0;"
          >
            <input
              [(ngModel)]="newTrack.duration"
              placeholder="New Track Duration(ms)"
            >
          </div>
        </div>
        <div
          class="btn btn-primary"
          style="margin: 0 5px"
          *ngIf="isAuthenticated | async"
          (click)="onAddNewTrackClick()"
        >
          <span
            *ngIf="!newTrack"
          >
            Add new Track
          </span>
          <span
            *ngIf="newTrack"
          >
            Save
          </span>
        </div>
        <div
          class="btn btn-primary"
          style="margin: 0 5px"
          *ngIf="newTrack"
          (click)="onCancelAddClick()"
        >
          Cancel
        </div>

        <div style="padding-top: 35px" *ngIf="recommendedAlbums.length !== 0">
          <h4>You might also like:</h4>
        </div>
        <div id="recommendations" class="container row" *ngIf="recommendedAlbums.length !== 0">

          <div style="display: flex;">
            <div class="container albums-container">
              <div class="row">
                <div *ngFor="let recommended of recommendedAlbums" class="col-md-3">
                  <div style="flex-direction: column; text-align: center;">
                    <div style="text-align: center">
                      <a routerLink="/album/{{recommended.slug}}">
                        <img src={{recommended.coverImageURL}} width="150" height="150"
                             onerror="this.src='https://s.discogs.com/images/default-release.png'">
                      </a>
                    </div>
                    <div class="album-title">
                      Title: <a routerLink="/album/{{recommended.slug}}">{{recommended.title}}</a>
                    </div>
                    <div class="album-title">
                      Artist{{album.artists > 1 ? 's' : ''}}:
                      <a
                        *ngFor="let artist of recommended.artists"
                        routerLink="/artist/{{artist.slug}}"
                      >
                        {{artist.name}}
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-2" style="display: flex; flex-direction: row">
      <div
        style="padding-right: 15px"
        *ngIf="isAuthenticated | async"
      >
        <div class="btn btn-primary" routerLink="/album/edit/{{album.slug}}">
          Edit
        </div>
      </div>
      <div
        *ngIf="isAuthenticated | async"
      >
        <div class="btn btn-primary" data-toggle="modal" data-target="#deleteModal">
          Delete
        </div>
      </div>
    </div>

  </div>
</div>
<div id="deleteModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure that you want to delete album?</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          (click)="deleteAlbum()"
          data-dismiss="modal"
        >
          Yes
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
<div id="voteModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Vote</h4>
      </div>
      <div class="modal-body">
        <p>Select your rating</p>
        <ngb-rating [(rate)]="currentRate" max="5" style="outline: none">
          <ng-template let-fill="fill">
            <span class="star star-big" [class.filled]="fill === 100">&#9733;</span>
          </ng-template>
        </ngb-rating>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          (click)="changeRating()"
          data-dismiss="modal"
        >
          Vote
        </button>
      </div>
    </div>
  </div>
</div>
