<app-bar
  [sourceURL]="sourceURL"
></app-bar>
<div class="home-page">
  <div class="container controls-container">
    <div>
      <ngb-pagination
        [collectionSize]="totalAlbums"
        [page]="pageNumber"
        [maxSize]="5"
        [pageSize]="12"
        (pageChange)="onChangePage($event)"
      ></ngb-pagination>
    </div>
    <div class="sort-selector-container">
      <div>Sort by:</div>
      <div>
        <select class="form-control" id="sort" (change)="onSortChange($event.target.value)">
          <option
            *ngFor="let option of sortOptions"
            value="{{option.value}}"
            [attr.selected]="option.value === sortType ? '': null"
          >
            {{option.label}}
          </option>
        </select>
      </div>
    </div>
    <div class="sort-selector-container">
      <div>
        Language:
      </div>
      <div>
        <select class="form-control" (change)="onLanguageChange($event.target.value)">
          <option
            value="null"
          >
            Nothing selected
          </option>
          <option
            *ngFor="let language of languageOptions"
            value="{{language.code}}"
            [attr.selected]="language.code === selectedLanguageCode ? '': null"
          >
            {{language.name}}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div style="display: flex">
    <div class="container albums-container">
      <div class="row">
        <div *ngFor="let album of albums" class="col-md-3">
          <div class="album-container">
            <div style="text-align: center">
              <a routerLink="/album/{{album.slug}}">
                <img src={{album.coverImageURL}} width="150" height="150" onerror="this.src='https://s.discogs.com/images/default-release.png'">
              </a>
            </div>
            <div class="album-title">
              Title: <a routerLink="/album/{{album.slug}}">{{album.title}}</a>
            </div>
            <div class="album-title">
              Artist{{album.artists > 1 ? 's' : ''}}:
              <a
                *ngFor="let artist of album.artists"
                routerLink="/artist/{{artist.id}}"
              >
                {{artist.name}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
