<div class="container">
  <div class="form-group" style="margin: 10px">
    <div class="row">
      <div class="col-md-4 form-group">
        <label>Album Name:</label>
        <input class="form-control" [(ngModel)]="album.title" required minlength="4" placeholder="Album name" #name="ngModel">

        <div *ngIf="name.invalid && (name.dirty || name.touched)"
             style="color: darkred">

          <div *ngIf="name.errors.required">
            Name is required.
          </div>
          <div *ngIf="name.errors.minlength">
            Name must be at least 4 characters long.
          </div>

        </div>

      </div>


      <div class="col-md-4 form-group">
        <label>Date:</label>
        <input class="form-control" id="date-selector">
      </div>
      <div class="col-md-4 form-group">
        <label>Language:</label>
        <select class="form-control" (change)="onLanguageChange($event.target.value)">
          <option
            value="null"
          >
            Nothing selected
          </option>
          <option
            *ngFor="let language of languageOptions"
            value="{{language.code}}"
            [attr.selected]="album.language && language.code === album.language.code ? '': null"
          >
            {{language.name}}
          </option>
        </select>
      </div>
    </div>
    <input class="form-control form-group" [(ngModel)]="album.coverImageURL" placeholder="Album cover">
    <div
      *ngIf="album.coverImageURL"
      style="text-align: center"
    >
      <div>Preview: </div>
      <div>
        <img
          src="{{album.coverImageURL}}"
          width="150"
          height="150"
        >
      </div>
    </div>
    <div class="panel panel-default">
      <div
        class="panel-heading"
        style="display: flex; align-items: baseline; justify-content: space-between; padding-bottom: 0"
      >
        <div>
          <h4>
            Artists:
          </h4>
        </div>
        <div style="width: 40%">
          <input
            class="form-control form-group"
            type="text"
            id="new-artist"
            placeholder="Select new artist"
          >
        </div>
      </div>
      <div
        *ngIf="!album.artists.length"
        class="panel-body"
      >
        No artists
      </div>
      <div class="panel-body">
        <div
          *ngFor="let artist of album.artists"
          style="display: flex; margin: 5px; align-items: center"
        >
          <div>
            {{artist.name}}
          </div>
          <i class="fa fa-times" aria-hidden="true" (click)="removeArtistById(artist.id)"></i>
        </div>
      </div>
    </div>
    <div>
      <div class="panel  panel-default">
        <div class="panel-heading">Tracks:</div>
        <div
          *ngIf="!album.trackList.length"
          class="panel-body"
        >
          No tracks
        </div>
        <div
          class="panel-body"
        >
          <table
            style="margin: 10px 0;border-collapse: separate;border-spacing: 0 10px;"
          >
            <tr
              *ngFor="let track of album.trackList; let i = index"
              style="padding: 20px 0;"
            >
              <td>
                <div>
                  <div>
                    <input [(ngModel)] = "track.name">
                  </div>
                  <div>Duration: {{track.duration | date:'mm:ss' }}</div>
                </div>
              </td>
              <td
                style="padding: 0 5px"
              >
                <div
                  (click)="removeTrack(track.id)"
                >
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <div class="panel-footer">
          <div
            *ngIf = "newTrack"
            style="padding: 5px;"
          >
            <div
              style="padding: 5px 0;"
            >
              <input
                [(ngModel)] = "newTrack.name"
                placeholder="New Track Name"
              >
            </div>
            <div
              style="padding: 5px 0;"
            >
              <input
                [(ngModel)] = "newTrack.duration"
                placeholder="New Track Duration(s)"
              >
            </div>
          </div>
          <div
            class="btn btn-primary"
            style="margin: 0 5px"
            (click)="onAddNewTrackClick()"
          >
            <span
              *ngIf="!newTrack"
            >
              Add new Track
            </span>
                <span
                  *ngIf="newTrack"
                >
              Save
            </span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
