.controls-container {
  display: flex;
  justify-content: space-between;
}

.album-container {
  padding: 5px;
}

.albums-container {
  padding: 10px;
}

.album-title {
  text-align: center;
  padding: 5px 0 0 5px;
  color: #0033BB;
  text-overflow: ellipsis;
  max-width: 230px;
  overflow: hidden;
  white-space: nowrap;
}
