<app-bar
></app-bar>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="form-group">
        <label for="login">Login:</label>
        <input id="login" class="form-control" [(ngModel)]="login">
      </div>
      <div class="form-group">
        <label for="pass">Password:</label>
        <input id="pass" class="form-control" type="password" [(ngModel)]="pass">
      </div>

      <div class="form-group">
        <div
          class="btn btn-primary btn-block"
          (click)="onLoginClick()"
        >
          Login
        </div>
      </div>
    </div>
  </div>
</div>
