<div class="album-detail-page">
  <div class="container">
    <div *ngIf="album" class="album-container">
      <div>
        <img src="{{album.coverImageURL}}" width="150" height="150">
      </div>
      <div style="padding: 5px">
        <div>{{album.title}}</div>
        <div>
          Artist{{album.artists > 1 ? 's' : ''}}:
          <a
            *ngFor="let artist of album.artists"
            routerLink="/artist/{{artist.id}}"
          >
            {{artist.name}}
          </a>
        </div>
        <div>
          Country: {{album.country}}
        </div>
        <div>
          Style: {{album.style}}
        </div>
        <div>
          Format: {{album.format}}
        </div>
        <div>
          Genre: {{album.genre}}
        </div>
      </div>
    </div>
    <div
      *ngIf="album"
      style="padding-top: 10px"
    >
      <div>Tracks: </div>
      <div
        *ngFor="let track of album.trackList"
        style="padding: 5px"
      >
        <div>{{track.name}}</div>
        <div>Duration: {{track.duration | date:'mm:ss' }}</div>
      </div>
    </div>
  </div>
  <div
    *ngIf="sourceURL"
    class="source-link"
  >
    <a
      href="{{sourceURL}}"
    >
      View Source
    </a>
  </div>
</div>
